@keyframes appear {
	0% { opacity: 0 }
	100% { opacity: 1}
}

.thumbnail {
	animation: appear .5s;
	&-title {
		color: rgb(75, 75, 75);
	}
}

.card-image {
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	height: 180px;
	overflow: hidden;
}

.card {
	overflow: hidden;
	height: 350px;
}
